@using OnlineShop.Code
@model ShopViewModel
@{
    ViewBag.Title = "index";

    string[] names = Enum.GetNames(typeof(SortByEnums));
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">SHOP</h1>
                </div><!-- /.page-title-heading -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" class="search-form">
                            <label>
                                <input type="text" class="search-text" placeholder="Search …" name="search">
                            </label>
                        </form>
                    </div><!-- /.widget-search -->
                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            @for (int i = 0; i < names.Length; i++)
                            {
                                <li><a href="#" class="enum-btn" data-id="@(i+1)">@names[i]</a></li>
                            }
                        </ul>
                    </div><!-- /.widget-sort-by -->
                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>
                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Categories
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.Categories)
                            {
                                <a class="category-btn" data-id="@category.Id">@category.Name</a>
                            }
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div class="filter-shop clearfix">
                    <p class="showing-product float-right">
                        Showing @(((Model.Pager-1) * Model.PageSize) + 1) - @(((Model.Pager-1) * Model.PageSize) + Model.PageSize) of @(Model.TotalProductCount) Products
                    </p>
                </div><!-- /.filte-shop -->
                <div class="product-content product-threecolumn product-slidebar clearfix">
                    <ul class="product style2 sd1">
                        @foreach (var product in Model.Products)
                        {
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="@product.ImageUrl" alt="image">
                                    </a>
                                    <span class="new">New</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@product.Name</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$ @product.Price</span>
                                        </ins>
                                    </div>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                        }
                    </ul><!-- /.product -->
                </div><!-- /.product-content -->
                <div class="product-pagination text-center clearfix">
                    <ul class="flat-pagination">
                        @if (Model.Pager > 1)
                        {
                            <li data-page-number="@(Model.Pager - 1)" class="prev pageButtons">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (Model.Pager == @i)
                            {
                                <li data-page-number="@i" class="active pageButtons">
                                    <a href="#">@i</a>
                                </li>
                            }
                            else
                            {
                            <li data-page-number="@i" class="pageButtons">
                                <a href="#">@i</a>
                            </li>
                            }
                        }
                        @if (Model.Pager < Model.TotalPages)
                        {
                            <li data-page-number="@(Model.Pager+1)" class="pageButtons">
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        }
                    </ul><!-- /.flat-pagination -->
                </div>
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->

<script>
    var callTimeout;
    var priceSlider = $("#slide-range").slider({
        range: true,
        min: 0,
        max: @Model.maximumPrice,
        values: [0, @Model.maximumPrice],
        slide: function (event, ui) {
            var minPrice = ui.values[0];
            var maxPrice = ui.values[1];
            $("#amount").val("$" + minPrice + ".00" + " - " + "$" + maxPrice + ".00");

            clearTimeout(callTimeout);
            callTimeout = setTimeout(GetData, 500);
        }
    });

    $(".pageButtons").click(function (e) {
        var btnPage = $(this).attr("data-page-number");
        $.ajax({
            type: "GET",
            url: "/Shop/ProductFilter",
            data: {
                pageNo: btnPage,
                search: localStorage.getItem('search-product'),
                sortBy: localStorage.getItem('enum-id'),
                categoryId: localStorage.getItem('category-id')
            }
        }).done(function (response) {
            $('#product-container').html(response);
            focusAction();
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".category-btn").click(function () {
        var dataId = $(this).attr("data-id");
        localStorage.setItem('category-id', dataId);

        $.ajax({
            type: "GET",
            url: "/Shop/ProductFilter",
            data: {
                categoryId: dataId
            }
        }).done(function (response) {
            $('#product-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
        localStorage.removeItem('enum-id');
        localStorage.removeItem('search-product');
    });

    function GetData() {
        $.ajax({
            type: "GET",
            url: "/Shop/ProductFilter",
            data: {
                minPrice: priceSlider.slider("values", 0),
                maxPrice: priceSlider.slider("values", 1)
        }
        }).done(function (response) {
            $('#product-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    }

    $(".search-text").keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
            var searchValue = $(".search-text").val();
            localStorage.setItem('search-product', searchValue);

            $.ajax({
                type: "GET",
                url: "/Shop/ProductFilter",
                data: {
                    search: searchValue
                }
            }).done(function (response) {
                $('#product-container').html(response);
                $(".search-text").val('');
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
        localStorage.removeItem('enum-id');
        localStorage.removeItem('category-id');
    });

    $(".enum-btn").click(function (e) {
        e.preventDefault();
        var dataId = $(this).attr("data-id");
        localStorage.setItem('enum-id', dataId);

        $.ajax({
            type: "GET",
            url: "/Shop/ProductFilter",
            data: {
                sortBy: dataId
            }
        }).done(function (response) {
            $('#product-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
        localStorage.removeItem('category-id');
        localStorage.removeItem('search-product');
    });

    function focusAction() {
        $('html, body').animate({
            scrollTop: $("#product-container").offset().top - -100
        }, 500);
    }

</script>