@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <input id="search-text" type="text" name="search" />
        <button type="button" id="search-btn">Search</button>
    </form>
    <button type="button" id="add-btn">Add</button>
</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Pricate</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        @if (product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>@product.Price</td>
                    <td>
                        <button class="edit-btn" data-id="@product.Id">Edit</button>
                        <button class="delete-btn" data-id="@product.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("#search-btn").click(function () {
        var searchValue = $("#search-text").val();
        $.ajax({
            type: "GET",
            url: "/Product/ProductTable",
            data: {
                search: searchValue
            }
        }).done(function (response) {
            $('#table-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("#add-btn").click(function () {
        $.ajax({
            type: "GET",
            url: "/Product/Create"
        }).done(function (response) {
            $('#action-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".edit-btn").click(function () {
        var dataId = $(this).attr("data-id")
        $.ajax({
            type: "GET",
            url: "/Product/Edit",
            data: {
                id: dataId
            }
        }).done(function (response) {
            $('footer').remove();
            $('#action-container').html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });

    $(".delete-btn").click(function () {

        var dataId = $(this).attr("data-id")
        var confimDelete = confirm("Are you sure you want to Delete?");

        if (confimDelete) {
            $.ajax({
                type: "POST",
                url: "/Product/Delete",
                data: {
                    id: dataId
                }
            }).done(function (response) {
                $('#table-container').html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
    });
</script>
